{% include base_path %}

<!-- start custom head snippets -->

<!-- Support for Academicons -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>

<!-- Site icons -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/images/logo.png?v=1"/>
<link rel="icon" type="image/png" sizes="32x32" href="{{ base_path }}/images/logo.png?v=1"/>
<link rel="icon" type="image/png" sizes="192x192" href="{{ base_path }}/images/logo.png?v=1"/>
<link rel="manifest" href="{{ base_path }}/images/manifest.json"/>
<link rel="icon" href="{{ base_path }}/images/logo.png?v=1"/>
<link rel="shortcut icon" href="{{ base_path }}/images/logo.png?v=1"/>
<meta name="theme-color" content="#ffffff"/>

<link rel="preconnect" href="https://fonts.googleapis.com"/>
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin/>
<link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@400;500;600&family=Source+Serif+4:ital,wght@0,400;0,600;1,400&display=swap" rel="stylesheet"/>

<!-- end custom head snippets -->
